<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="none">
    <title>Tennis score board</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="data:,">
</head>
<body>
<h1> Tennis score board </h1>
<nav class="header">
    <div>
        <form action="/new-match" method="get" style="display: inline;">
            <button type="submit" class="button_menu">New match</button>
        </form>
        <form action="/matches" method="get" style="display: inline;">
            <button type="submit" class="button_menu">Matches</button>
        </form>
    </div>
    <div></div>
</nav>
</body>
</html>