<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Match score</title>
    <h1>Match score</h1>
</head>
<body>
<div class="table-container">
    <div class="table-row">
        <div class="table-cell">Player</div>
        <div class="table-cell">Set</div>
        <div class="table-cell">Games</div>
        <div class="table-cell">Points</div>
    </div>
    <div class="table-row">
        <div class="table-cell">{{player1}}</div>
        <div class="table-cell">{{set1}}</div>
        <div class="table-cell">{{games1}}</div>
        <div class="table-cell">{{points1}}</div>
    </div>
    <div class="table-row">
        <div class="table-cell">{{player2}}</div>
        <div class="table-cell">{{set2}}</div>
        <div class="table-cell">{{games2}}</div>
        <div class="table-cell">{{points2}}</div>
    </div>
</div>
<div class="button-container">
    <form action="/match-score?uuid={{match_id}}" method="POST"  style="display: inline-block; margin: 0 10px;">
        <input type="hidden" name="uuid" value="{{ match_id }}">
        <input type="hidden" name="winner" value="player1">
        <button type="submit" class="button_menu">
            <span>Player 1 wins point!</span>
        </button>
    </form>

    <form action="/match-score?uuid={{match_id}}" method="POST"  style="display: inline-block;">
        <input type="hidden" name="uuid" value="{{ match_id }}">
        <input type="hidden" name="winner" value="player2">
        <button type="submit">
            <span>Player 2 wins point!</span>
        </button>
    </form>


</div>
</body>
</html>