<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="none">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="data:,">
    <title>Matches</title>
</head>
<body>
<div class="container">
    <h1>Finished matches</h1>
    <div class="search-container">
         <form id="search-form" action="/matches" method="GET">
<!--        <form action="/matches" method="GET">-->
            <label for="name-input"></label>
            <input type="text" id="name-input" name="filter_by_player_name"
                   value="{{filter_by_player_name}}">
            <input type="hidden" name="page" value="1">
            <button type="submit" class="search-button">Search</button>
        </form>
        <form id="clear-form" action="/matches" method="GET">
            <button type="submit" class="search-button">Clear</button>
        </form>
        <button class="button" onclick="window.location.href='/'">
            <span>Home</span>
        </button>
    </div>
    <div class="table-container">
        <div class="table-row">
            <div class="table-cell">ID</div>
            <div class="table-cell">Player 1</div>
            <div class="table-cell">Player 2</div>
            <div class="table-cell">Winner</div>
        </div>
        {% for match in matches %}
        <div class="table-row">
            <div class="table-cell">{{ loop.index + (current_page - 1) * matches_per_page }}</div>
            <div class="table-cell">{{match.player1}}</div>
            <div class="table-cell">{{match.player2}}</div>
            <div class="table-cell">{{match.winner}}</div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if current_page > 1 %}
            <form action="/matches" method="GET" style="display: inline;">
                <input type="hidden" name="page" value="{{ current_page - 1 }}">
                <input type="hidden" name="filter_by_player_name" value="{{ filter_by_player_name }}">
                <button type="submit" class="prev-button">Назад</button>
            </form>
        {% endif %}

        <span class="table-container" style="margin: 0 20px;">Страница {{ current_page }} из {{ total_pages }}</span> <!-- Добавлено расстояние -->

        {% if current_page < total_pages %}
            <form action="/matches" method="GET" style="display: inline;">
                <input type="hidden" name="page" value="{{ current_page + 1 }}">
                <input type="hidden" name="filter_by_player_name" value="{{ filter_by_player_name }}">
                <button type="submit" class="next-button">Вперед</button>
            </form>
        {% endif %}
    </div>
</div>
</body>
</html>
