<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="data:,">
</head>
<body>
<div class="popup">
    <div class="popup-content">
        <h1> Ошибка </h1>
        <h1>{{server_response}}</h1>
    </div>
</div>
<div class="button-container">
    <button type="button" onclick="window.location.href='/'">
        <span>Home</span>
    </button>
</div>
</body>
</html>