<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/start.css">
    <title>New match</title>
    <h1>New match</h1>
</head>
<body>
<div class="form-container">
    <form class="new-match" action="/new-match" method="post">
        <label for="name1">Player #1:</label>
        <input type="text" id="name1" name="name1">
        <br><br>
        <label for="name2">Player #2:</label>
        <input type="text" id="name2" name="name2">
        <br><br>
        <div class="button-container">
            <button>
                <span><a href="match_score.html">Start</a></span>
            </button>
            <button>
                <span><a href="start.html">Home</a></span>
            </button>
        </div>

    </form>


</div>
</body>

</html>