<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/start.css">
    <h1>Tennis score board</h1>
</head>
<body>

<nav class="header">

    <div>
        <button class="button_menu">
            <span><a href="new_match.html">New match</a></span>
        </button>
        <button class="button_menu">
            <span><a href="finished_matches.html">Matches</a></span>
        </button>
    </div>
    <div></div>

</nav>
</body>
</html>