<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="start.css">
    <title>Match score</title>
    <h1>Match score</h1>
</head>
<body>
<div class="table-container">
    <div class="table-row">
        <div class="table-cell">Player</div>
        <div class="table-cell">Set</div>
        <div class="table-cell">Games</div>
        <div class="table-cell">Points</div>
    </div>
    <div class="table-row">
        <div class="table-cell">John</div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
    </div>
    <div class="table-row">
        <div class="table-cell">Jane</div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
    </div>
</div>
<div class="button-container">
    <button class="button_menu">
        <span><a href="#">Player 1 wins point!</a></span>
    </button>
    <button>
        <span><a href="#">Player 2 wins point!</a></span>
    </button>
</div>
</body>
</html>